#mermaid-chart {
    background-color: white;
  }

.enlarged-mermaid-fullscreen svg {
  min-width: 100% !important;
  min-height: 100%!important;
  /* max-width: 100% !important;
  max-height: 100vh !important; */
  display: flex;
  margin: 0 auto;
}